body {
margin: 0;
background-color:  #f6ddcc;
color: #DDCDB2;
  
}

header {
background: url(img3.jpg) no-repeat center center/cover;
padding: 100px 20px;
color: white;
text-align: center;
font-family: "lato";
font-weight: bold;
}

.menu {
display: flex;
justify-content: space-between;
align-items: center;
padding: 15px 10px;
background-color:   #3A2416;
position: fixed;
top: 0;
left: 0;
width: 100%;
text-align:center;
}

.logo {
width: 80px;
height: auto;
}

.menu ul {
list-style: none;
padding: 0;
margin: 0;
display: flex;
}

.menu ul li {
margin-left: 20px;
}

.menu ul li a {
text-decoration: none;
color: white;
font-size: 18px;
color: inherit;
text-decoration: none;
margin: 15px;
}

.menu ul li a:hover {
color:aqua;
}

#principal {
width: 75px;
height: 75px;
}

.contenedor {
max-width: 80%;
margin-left: auto;
margin-right: auto;
background:  #f6ddcc ;
padding: 20px;
text-align: justify;
}

h1 {
font-family: "lato";
font-weight: bold;
}

h2 {
color: black;
font-family: "lato";
font-weight: bold;
}

h3 {
font-family: "lato";
font-weight: bold;
color: white;
}

p {
font-family: "lato";
font-weight: normal;
color: white;
}


.parrafo {
font-family: "lato";
font-weight: normal;
color: white;
}

#parrafo2 {
font-family: "lato";
font-weight: normal;
color:black ;
}

.revista-digital{
background-color: #3A2416;
padding: 30px;
}

.revista-digital img {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
max-width: 800px;
margin: auto;
height: auto;
border-radius: 10px;
}

#parrafocodigo {
text-align: center;
color: white;
}

.revista-digital p {
text-align: center;
}

.revista-digital p a {
color: aqua;
}

#codigo{
display: flex;
justify-content: center;
align-items: center;
width: 100px;
height: 100px;
margin: auto;
border-radius: 10px;
}


footer {
margin-top: 20px;
background-color: #3A2416;
color: white;
padding: 20px;
text-align: center;
}

.contenedor-principal {
display: flex;
justify-content: center;
gap: 20px;
flex-wrap: wrap;
}

.contenedor-secundario {
color: white;
background-color:  #3A2416;
}

.contenedor-secundario p a {
color: aqua;
}

.contenedor-subtitulo {
margin-top: 15px;
font-size: 14px;
}

@font-face {
font-family: "lato";
src: url(/fuentes1/Lato-BlackItalic.ttf);
font-weight: bold;
font-style: bold;
}

@font-face {
font-family: "lato";
src: url(/fuentes1/Lato-Regular.ttf);
font-weight: normal;
font-style: normal;
}

@media (max-width: 600px) {

.menu ul li {
margin-left: 0px;
}

}